#nav {
    background-color: lightgray;
}

#section {
    padding: 100px;
    background-color: gray;
    color: white;
}

.footer {
    background-color: lightgray;
}

#img {
    width: 20%;
    height: 20%;
}

.list-group > .list-group-item {
    background-color: gray;
    color: white;
    border: none;
}

.tv_img {
    width: 10%;
    max-width: 500px;
    height: auto;
    background: white;
    padding: 5px;
}

img#img77.tv_img,
img#img142.tv_img,
img#img146.tv_img,
img#img405.tv_img,
img#img428.tv_img,
img#img435.tv_img,
img#img446.tv_img,
img#img464.tv_img,
img#img484.tv_img,
img#img512.tv_img,
img#img551.tv_img,
img#img620.tv_img,
img#img645.tv_img,
img#img678.tv_img,
img#img798.tv_img,
img#img799.tv_img,
img#img800.tv_img,
img#img801.tv_img,
img#img802.tv_img,
img#img803.tv_img,
img#img804.tv_img,
img#img869.tv_img,
img#img906.tv_img,
img#img927.tv_img,
img#img975.tv_img,
img#img1007.tv_img {
    background: gray;
}

.a {
    color: white;
    text-decoration: none;
}

.a:hover {
    color: black;
    text-decoration: none;
}

#list .wrapper {
    margin-bottom: 20px;
}

.paginationjs {
    display: inline-block;
}