#nav {
    background-color: lightgray;
}

#section {
    padding: 100px;
    background-color: gray;
    color: white;
}

.footer {
    background-color: lightgray;
}

#img {
    width: 20%;
    height: 20%;
}

.list-group > .list-group-item {
    background-color: gray;
    color: white;
    border: none;
}

.tv_img {
    width: 10%;
    max-width: 500px;
    height: auto;
    background: white;
    padding: 5px;
}

img#img77.tv_img,
img#img142.tv_img,
img#img146.tv_img,
img#img399.tv_img,
img#img422.tv_img,
img#img429.tv_img,
img#img440.tv_img,
img#img458.tv_img,
img#img478.tv_img,
img#img506.tv_img,
img#img545.tv_img {
    background: gray;
}

.a {
    color: white;
    text-decoration: none;
}

.a:hover {
    color: black;
    text-decoration: none;
}

#list .wrapper {
    margin-bottom: 20px;
}

.paginationjs {
    display: inline-block;
}